*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083B4C;
}

.container {
    width: 600px;
    margin: auto;
    margin-top: 10px;
} 

h1{
    color: white;
    text-align: center;
}

.cont-square {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / 8) - 15px);
    height: 70px;
    margin: 10px;
}

.rosso {
    background-color: #F0466F;
}

.verde {
    background-color: #0BD6A1;
}

.blue {
    background-color: #1389B2;
}

.giallo {
    background-color: #FFD166;
}